In [73]:
import pandas as pd
import numpy as np
%matplotlib inline

In [75]:
airfare_raw = pd.read_csv(".../Consumer_Airfare_Report__Table_1_-_Top_1_000_Contiguous_State_City-Pair_Markets.csv")

FileNotFoundError: File b'.../Consumer_Airfare_Report__Table_1_-_Top_1_000_Contiguous_State_City-Pair_Markets.csv' does not exist

In [14]:
airfare_raw['cost_per_mile'] = airfare_raw['fare'] / airfare_raw['nsmiles']

In [15]:
airfare_raw['geo1'] = airfare_raw.Geocoded_City1.apply(lambda x: x.split('\r')[1].split(','))

In [16]:
airfare_raw['geo2'] = airfare_raw.Geocoded_City2.apply(lambda x: x.split('\r')[1].split(','))

In [17]:
airfare_raw.head()

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,...,fare_lg,carrier_low,lf_ms,fare_low,table_1_flag,Geocoded_City1,Geocoded_City2,cost_per_mile,geo1,geo2
0,2009,2,32467,34576,"Miami, FL (Metropolitan Area)","Rochester, NY",1204,203,151.46,FL,...,$131.05,FL,0.29,$131.05,1,"Miami, FL (Metropolitan Area)\r(44.977479, -93...","Rochester, NY\r(43.155708, -77.612547)",0.125797,"[(44.977479, -93.264346)]","[(43.155708, -77.612547)]"
1,2000,4,30397,33198,"Atlanta, GA (Metropolitan Area)","Kansas City, MO",692,782,172.83,DL,...,$194.71,NJ,0.26,$126.88,1,"Atlanta, GA (Metropolitan Area)\r(33.748547, -...","Kansas City, MO\r(39.099792, -94.578559)",0.249754,"[(33.748547, -84.391502)]","[(39.099792, -94.578559)]"
2,2007,4,32575,34614,"Los Angeles, CA (Metropolitan Area)","Salt Lake City, UT",590,3122,135.24,DL,...,$144.28,B6,0.15,$111.68,1,"Los Angeles, CA (Metropolitan Area)\r(34.05223...","Salt Lake City, UT\r(40.758478, -111.888142)",0.229220,"[(34.052238, -118.243344)]","[(40.758478, -111.888142)]"
3,2004,4,32337,31650,"Indianapolis, IN","Minneapolis/St. Paul, MN",503,395,206.78,NW,...,$224.77,TZ,0.11,$156.74,1,"Indianapolis, IN\r(39.76845, -86.156212)","Minneapolis/St. Paul, MN\r(44.977479, -93.264346)",0.411093,"[(39.76845, -86.156212)]","[(44.977479, -93.264346)]"
4,2008,4,30194,30559,"Dallas/Fort Worth, TX","Seattle, WA",1670,957,242.74,AA,...,$262.43,AS,0.27,$218.90,1,"Dallas/Fort Worth, TX\r(40.11086, -77.035636)","Seattle, WA\r(47.603229, -122.33028)",0.145353,"[(40.11086, -77.035636)]","[(47.603229, -122.33028)]"

In [26]:
airfare_raw['fare'].describe()

count    86020.000000
mean       192.123204
std         61.757494
min         56.420000
25%        146.760000
50%        186.605000
75%        233.032500
max        540.440000
Name: fare, dtype: float64

In [39]:
airfare_raw.sort_values('fare', ascending=False)

,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,nsmiles,passengers,fare,carrier_lg,...,carrier_low,lf_ms,fare_low,table_1_flag,Geocoded_City1,Geocoded_City2,cost_per_mile,geo1,geo2,key
79007,2017,1,30372,31703,"Aspen, CO","New York City, NY (Metropolitan Area)",1750,217,540.44,UA,...,UA,0.79,$537.30,1,"Aspen, CO\r(39.190665, -106.819201)","New York City, NY (Metropolitan Area)\r(40.123...",0.308823,"[(39.190665, -106.819201)]","[(40.123164, -75.333718)]","Aspen, CO,New York City, NY (Metropolitan Area)"
78490,2015,1,31503,31703,"Eagle, CO","New York City, NY (Metropolitan Area)",1746,302,519.25,AA,...,AA,0.53,$475.55,1,"Eagle, CO\r(38.8339, -120.040604)","New York City, NY (Metropolitan Area)\r(40.123...",0.297394,"[(38.8339, -120.040604)]","[(40.123164, -75.333718)]","Eagle, CO,New York City, NY (Metropolitan Area)"
54497,2014,1,30372,31703,"Aspen, CO","New York City, NY (Metropolitan Area)",1750,187,512.66,UA,...,DL,0.02,$449.85,1,"Aspen, CO\r(39.190665, -106.819201)","New York City, NY (Metropolitan Area)\r(40.123...",0.292949,"[(39.190665, -106.819201)]","[(40.123164, -75.333718)]","Aspen, CO,New York City, NY (Metropolitan Area)"
80045,2017,1,31503,31703,"Eagle, CO","New York City, NY (Metropolitan Area)",1746,310,506.15,AA,...,AA,0.51,$457.20,1,"Eagle, CO\r(38.8339, -120.040604)","New York City, NY (Metropolitan Area)\r(40.123...",0.289891,"[(38.8339, -120.040604)]","[(40.123164, -75.333718)]","Eagle, CO,New York City, NY (Metropolitan Area)"
78202,2015,1,30372,31703,"Aspen, CO","New York City, NY (Metropolitan Area)",1750,198,505.23,UA,...,DL,0.02,$491.96,1,"Aspen, CO\r(39.190665, -106.819201)","New York City, NY (Metropolitan Area)\r(40.123...",0.288703,"[(39.190665, -106.819201)]","[(40.123164, -75.333718)]","Aspen, CO,New York City, NY (Metropolitan Area)"
30508,2000,1,31703,32457,"New York City, NY (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2619,5320,504.32,UA,...,CO,0.15,$447.63,1,"New York City, NY (Metropolitan Area)\r(40.123...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.192562,"[(40.123164, -75.333718)]","[(37.78008, -122.420168)]","New York City, NY (Metropolitan Area),San Fran..."
40157,2014,1,31503,31703,"Eagle, CO","New York City, NY (Metropolitan Area)",1746,293,496.97,AA,...,AA,0.56,$457.81,1,"Eagle, CO\r(38.8339, -120.040604)","New York City, NY (Metropolitan Area)\r(40.123...",0.284633,"[(38.8339, -120.040604)]","[(40.123164, -75.333718)]","Eagle, CO,New York City, NY (Metropolitan Area)"
65380,2013,1,30372,31703,"Aspen, CO","New York City, NY (Metropolitan Area)",1750,183,491.76,UA,...,UA,0.93,$489.32,1,"Aspen, CO\r(39.190665, -106.819201)","New York City, NY (Metropolitan Area)\r(40.123...",0.281006,"[(39.190665, -106.819201)]","[(40.123164, -75.333718)]","Aspen, CO,New York City, NY (Metropolitan Area)"
43577,2001,1,31703,32457,"New York City, NY (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2619,5107,486.98,UA,...,CO,0.17,$480.90,1,"New York City, NY (Metropolitan Area)\r(40.123...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.185941,"[(40.123164, -75.333718)]","[(37.78008, -122.420168)]","New York City, NY (Metropolitan Area),San Fran..."
33909,1998,1,34100,32457,"Philadelphia, PA","San Francisco, CA (Metropolitan Area)",2521,793,481.35,UA,...,US,0.30,$435.84,1,"Philadelphia, PA\r(39.951061, -75.16562)","San Francisco, CA (Metropolitan Area)\r(37.780...",0.190936,"[(39.951061, -75.16562)]","[(37.78008, -122.420168)]","Philadelphia, PA,San Francisco, CA (Metropolit..."
10899,2013,1,31503,31703,"Eagle, CO","New York City, NY (Metropolitan Area)",1746,292,480.59,AA,...,AA,0.55,$414.69,1,"Eagle, CO\r(38.8339, -120.040604)","New York City, NY (Metropolitan Area)\r(40.123...",0.275252,"[(38.8339, -120.040604)]","[(40.123164, -75.333718)]","Eagle, CO,New York City, NY (Metropolitan Area)"
78904,2016,1,31503,31703,"Eagle, CO","New York City, NY (Metropolitan Area)",1746,301,478.14,AA,...,AA,0.55,$449.51,1,"Eagle, CO\r(38.8339, -120.040604)","New York City, NY (Metropolitan Area)\r(40.123...",0.273849,"[(38.8339, -120.040604)]","[(40.123164, -75.333718)]","Eagle, CO,New York City, NY (Metropolitan Area)"
83369,2016,1,30372,31703,"Aspen, CO","New York City, NY (Metropolitan Area)",1750,234,477.08,UA,...,UA,0.83,$478.98,1,"Aspen, CO\r(39.190665, -106.819201)","New York City, NY (Metropolitan Area)\r(40.123...",0.272617,"[(39.190665, -106.819201)]","[(40.123164, -75.333718)]","Aspen, CO,New York City, NY (Metropolitan Area)"
81490,2015,1,31503,32467,"Eagle, CO","Miami, FL (Metropolitan Area)",1810,186,468.66,AA,...,US,0.01,$399.56,1,"Eagle, CO\r(38.8339, -120.040604)","Miami, FL (Metropolitan Area)\r(44.977479, -93...",0.258928,"[(38.8339, -120.040604)]","[(44.977479, -93.264346)]","Eagle, CO,Miami, FL (Metropolitan Area)"
75514,2000,1,30721,32457,"Boston, MA (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2704,2702,468.61,UA,...,AA,0.28,$503.66,1,"Boston, MA (Metropolitan Area)\r(42.358894, -7...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.173303,"[(42.358894, -71.056742)]","[(37.78008, -122.420168)]","Boston, MA (Metropolitan Area),San Francisco, ..."
80304,2017,1,32441,31703,"Jackson, WY","New York City, NY (Metropolitan Area)",1894,192,465.54,UA,...,DL,0.19,$453.43,1,"Jackson, WY\r(42.247454, -84.408847)","New York City, NY (Metropolitan Area)\r(40.123...",0.245797,"[(42.247454, -84.408847)]","[(40.123164, -75.333718)]","Jackson, WY,New York City, NY (Metropolitan Area)"
78805,2015,3,32441,31703,"Jackson, WY","New York City, NY (Metropolitan Area)",1925,215,459.44,UA,...,AA,0.12,$428.87,1,"Jackson, WY\r(42.247454, -84.408847)","New York City, NY (Metropolitan Area)\r(40.123...",0.238670,"[(42.247454, -84.408847)]","[(40.123164, -75.333718)]","Jackson, WY,New York City, NY (Metropolitan Area)"
3084,2000,4,31703,32457,"New York City, NY (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2619,6611,458.37,UA,...,CO,0.16,$473.24,1,"New York City, NY (Metropolitan Area)\r(40.123...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.175017,"[(40.123164, -75.333718)]","[(37.78008, -122.420168)]","New York City, NY (Metropolitan Area),San Fran..."
18439,2000,2,31703,32457,"New York City, NY (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2619,7379,458.06,UA,...,CO,0.15,$442.40,1,"New York City, NY (Metropolitan Area)\r(40.123...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.174899,"[(40.123164, -75.333718)]","[(37.78008, -122.420168)]","New York City, NY (Metropolitan Area),San Fran..."
18808,2000,1,34100,32457,"Philadelphia, PA","San Francisco, CA (Metropolitan Area)",2521,976,457.03,UA,...,US,0.32,$483.75,1,"Philadelphia, PA\r(39.951061, -75.16562)","San Francisco, CA (Metropolitan Area)\r(37.780...",0.181289,"[(39.951061, -75.16562)]","[(37.78008, -122.420168)]","Philadelphia, PA,San Francisco, CA (Metropolit..."
4115,2008,3,31834,31703,"Fayetteville, AR","New York City, NY (Metropolitan Area)",1187,187,454.60,AA,...,AA,0.43,$467.04,1,"Fayetteville, AR\r(36.061928, -94.160583)","New York City, NY (Metropolitan Area)\r(40.123...",0.382982,"[(36.061928, -94.160583)]","[(40.123164, -75.333718)]","Fayetteville, AR,New York City, NY (Metropolit..."
7396,2000,1,31703,30559,"New York City, NY (Metropolitan Area)","Seattle, WA",2448,964,453.51,CO,...,DL,0.10,$486.36,1,"New York City, NY (Metropolitan Area)\r(40.123...","Seattle, WA\r(47.603229, -122.33028)",0.185257,"[(40.123164, -75.333718)]","[(47.603229, -122.33028)]","New York City, NY (Metropolitan Area),Seattle, WA"
44575,2001,1,30721,32457,"Boston, MA (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2704,2540,450.94,UA,...,AA,0.29,$512.01,1,"Boston, MA (Metropolitan Area)\r(42.358894, -7...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.166768,"[(42.358894, -71.056742)]","[(37.78008, -122.420168)]","Boston, MA (Metropolitan Area),San Francisco, ..."
47761,2014,1,32441,31703,"Jackson, WY","New York City, NY (Metropolitan Area)",1925,158,449.22,UA,...,AA,0.11,$361.78,1,"Jackson, WY\r(42.247454, -84.408847)","New York City, NY (Metropolitan Area)\r(40.123...",0.233361,"[(42.247454, -84.408847)]","[(40.123164, -75.333718)]","Jackson, WY,New York City, NY (Metropolitan Area)"
54874,2000,3,31703,32457,"New York City, NY (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2619,7121,447.73,UA,...,CO,0.16,$482.32,1,"New York City, NY (Metropolitan Area)\r(40.123...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.170955,"[(40.123164, -75.333718)]","[(37.78008, -122.420168)]","New York City, NY (Metropolitan Area),San Fran..."
50770,1998,1,30721,32457,"Boston, MA (Metropolitan Area)","San Francisco, CA (Metropolitan Area)",2704,2161,447.57,UA,...,AA,0.28,$392.90,1,"Boston, MA (Metropolitan Area)\r(42.358894, -7...","San Francisco, CA (Metropolitan Area)\r(37.780...",0.165521,"[(42.358894, -71.056742)]","[(37.78008, -122.420168)]","Boston, MA (Metropolitan Area),San Francisco, ..."
22009,1998,1,31703,33192,"New York City, NY (Metropolitan Area)","Sacramento, CA",2553,153,445.97,UA,...,AA,0.14,$410.94,1,"New York City, NY (Metropolitan Area)\r(40.123...","Sacramento, CA\r(38.582087, -121.50012)",0.174685,"[(40.123164, -75.333718)]","[(38.582087, -121.50012)]","New York City, NY (Metropolitan Area),Sacramen..."
37389,2008,3,33105,32457,"Cincinnati, OH","San Francisco, CA (Metropolitan Area)",2036,206,445.97,DL,...,UA,0.10,$427.71,1,"Cincinnati, OH\r(39.104427, -84.513808)","San Francisco, CA (Metropolitan Area)\r(37.780...",0.219042,"[(39.104427, -84.513808)]","[(37.78008, -122.420168)]","Cincinnati, OH,San Francisco, CA (Metropolitan..."
80855,2015,1,32441,31703,"Jackson, WY","New York City, NY (Metropolitan Area)",1894,163,445.83,UA,...,DL,0.26,$411.26,1,"Jackson, WY\r(42.247454, -84.408847)","New York City, NY (Metropolitan Area)\r(40.123...",0.235391,"[(42.247454, -84.408847)]","[(40.123164, -75.333718)]","Jackson, WY,New York City, NY (Metropolitan Area)"
46627,1998,1,34492,32457,"Raleigh/Durham, NC","San Francisco, CA (Metropolitan Area)",2400,317,443.64,AA,...,DL,0.13,$440.09,1,"Raleigh/Durham, NC\r(42.673348, -72.179683)","San Francisco, CA (Metropolitan Area)\r(37.780...",0.184850,"[(42.673348, -72.179683)]","[(37.78008, -122.420168)]","Raleigh/Durham, NC,San Francisco, CA (Metropol..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44162,1996,3,34570,32457,"Reno, NV","San Francisco, CA (Metropolitan Area)",192,688,65.93,WN,...,WN,0.60,$60.02,1,"Reno, NV\r(30.177159, -95.162771)","San Francisco, CA (Metropolitan Area)\r(37.780...",0.343385,"[(30.177159, -95.162771)]","[(37.78008, -122.420168)]","Reno, NV,San Francisco, CA (Metropolitan Area)"
63768,1996,1,30189,30466,"Colorado Springs, CO","Phoenix, AZ",551,593,65.92,W7,...,W7,0.81,$59.01,1,"Colorado Springs, CO\r(38.835224, -104.819798)","Phoenix, AZ\r(30.406931, -87.217578)",0.119637,"[(38.835224, -104.819798)]","[(30.406931, -87.217578)]","Colorado Springs, CO,Phoenix, AZ"
49626,1997,1,32575,33570,"Los Angeles, CA (Metropolitan Area)","San Diego, CA",122,179,65.91,UA,...,AA,0.34,$64.70,1,"Los Angeles, CA (Metropolitan Area)\r(34.05223...","San Diego, CA\r(32.71576, -117.163817)",0.540246,"[(34.052238, -118.243344)]","[(32.71576, -117.163817)]","Los Angeles, CA (Metropolitan Area),San Diego, CA"
23218,1997,4,34570,34614,"Reno, NV","Salt Lake City, UT",422,241,65.77,WN,...,WN,0.54,$58.40,1,"Reno, NV\r(30.177159, -95.162771)","Salt Lake City, UT\r(40.758478, -111.888142)",0.155853,"[(30.177159, -95.162771)]","[(40.758478, -111.888142)]","Reno, NV,Salt Lake City, UT"
67027,1996,1,33192,30559,"Sacramento, CA","Seattle, WA",605,558,65.72,AS,...,AS,0.80,$64.21,1,"Sacramento, CA\r(38.582087, -121.50012)","Seattle, WA\r(47.603229, -122.33028)",0.108628,"[(38.582087, -121.50012)]","[(47.603229, -122.33028)]","Sacramento, CA,Seattle, WA"
68136,1996,3,30194,32896,"Dallas/Fort Worth, TX","Lubbock, TX",293,720,65.65,WN,...,WN,0.83,$63.90,1,"Dallas/Fort Worth, TX\r(40.11086, -77.035636)","Lubbock, TX\r(41.181125, -96.030508)",0.224061,"[(40.11086, -77.035636)]","[(41.181125, -96.030508)]","Dallas/Fort Worth, TX,Lubbock, TX"
13811,1997,1,34570,32457,"Reno, NV","San Francisco, CA (Metropolitan Area)",192,781,65.55,WN,...,WN,0.59,$62.81,1,"Reno, NV\r(30.177159, -95.162771)","San Francisco, CA (Metropolitan Area)\r(37.780...",0.341406,"[(30.177159, -95.162771)]","[(37.78008, -122.420168)]","Reno, NV,San Francisco, CA (Metropolitan Area)"
22683,1996,2,30194,32896,"Dallas/Fort Worth, TX","Lubbock, TX",293,760,65.54,WN,...,WN,0.82,$63.91,1,"Dallas/Fort Worth, TX\r(40.11086, -77.035636)","Lubbock, TX\r(41.181125, -96.030508)",0.223686,"[(40.11086, -77.035636)]","[(41.181125, -96.030508)]","Dallas/Fort Worth, TX,Lubbock, TX"
16526,1996,1,30158,31295,"Atlantic City, NJ","Detroit, MI",497,160,65.48,NK,...,NK,0.97,$63.01,1,"Atlantic City, NJ\r(33.748547, -84.391502)","Detroit, MI\r(42.332916, -83.047853)",0.131751,"[(33.748547, -84.391502)]","[(42.332916, -83.047853)]","Atlantic City, NJ,Detroit, MI"
38942,1996,1,33198,31123,"Kansas City, MO","St. Louis, MO",237,646,65.29,TW,...,WN,0.41,$58.04,1,"Kansas City, MO\r(39.099792, -94.578559)","St. Louis, MO\r(38.630276, -90.200309)",0.275485,"[(39.099792, -94.578559)]","[(38.630276, -90.200309)]","Kansas City, MO,St. Louis, MO"
43659,1997,1,32467,33195,"Miami, FL (Metropolitan Area)","Tampa, FL (Metropolitan Area)",208,906,65.13,WN,...,WN,0.70,$59.50,1,"Miami, FL (Metropolitan Area)\r(44.977479, -93...","Tampa, FL (Metropolitan Area)\r(37.8606, -78.8...",0.313125,"[(44.977479, -93.264346)]","[(37.8606, -78.804199)]","Miami, FL (Metropolitan Area),Tampa, FL (Metro..."
39281,1996,2,30194,30928,"Dallas/Fort Worth, TX","Wichita, KS",328,232,64.87,AA,...,NJ,0.47,$63.01,1,"Dallas/Fort Worth, TX\r(40.11086, -77.035636)","Wichita, KS\r(39.960481, -75.605214)",0.197774,"[(40.11086, -77.035636)]","[(39.960481, -75.605214)]","Dallas/Fort Worth, TX,Wichita, KS"
60598,1996,4,33198,31123,"Kansas City, MO","St. Louis, MO",237,597,64.46,TW,...,WN,0.47,$57.99,1,"Kansas City, MO\r(39.099792, -94.578559)","St. Louis, MO\r(38.630276, -90.200309)",0.271983,"[(39.099792, -94.578559)]","[(38.630276, -90.200309)]","Kansas City, MO,St. Louis, MO"
41237,1996,1,30140,30615,"Albuquerque, NM","El Paso, TX",223,182,64.43,WN,...,F9,0.06,$62.63,1,"Albuquerque, NM\r(35.084248, -106.649241)","El Paso, TX\r(31.76006, -106.492257)",0.288924,"[(35.084248, -106.649241)]","[(31.76006, -106.492257)]","Albuquerque, NM,El Paso, TX"
13922,1998,2,30423,32206,"Austin, TX","Harlingen/San Benito, TX",280,236,64.41,WN,...,WN,0.99,$64.08,1,"Austin, TX\r(30.264979, -97.746598)","Harlingen/San Benito, TX\r(40.8078, -73.945801)",0.230036,"[(30.264979, -97.746598)]","[(40.8078, -73.945801)]","Austin, TX,Harlingen/San Benito, TX"
30924,1998,1,30713,34570,"Boise, ID","Reno, NV",335,148,64.26,WN,...,WN,0.97,$61.27,1,"Boise, ID\r(43.597772, -83.884521)","Reno, NV\r(30.177159, -95.162771)",0.191821,"[(43.597772, -83.884521)]","[(30.177159, -95.162771)]","Boise, ID,Reno, NV"
11927,1996,1,34570,31884,"Reno, NV","Spokane, WA",572,166,64.16,WN,...,WN,0.90,$60.55,1,"Reno, NV\r(30.177159, -95.162771)","Spokane, WA\r(47.658999, -117.425022)",0.112168,"[(30.177159, -95.162771)]","[(47.658999, -117.425022)]","Reno, NV,Spokane, WA"
39051,1997,4,30158,30721,"Atlantic City, NJ","Boston, MA (Metropolitan Area)",291,165,64.09,NK,...,NK,0.92,$54.32,1,"Atlantic City, NJ\r(33.748547, -84.391502)","Boston, MA (Metropolitan Area)\r(42.358894, -7...",0.220241,"[(33.748547, -84.391502)]","[(42.358894, -71.056742)]","Atlantic City, NJ,Boston, MA (Metropolitan Area)"
31100,1997,4,30713,34570,"Boise, ID","Reno, NV",335,141,63.87,WN,...,WN,0.97,$61.83,1,"Boise, ID\r(43.597772, -83.884521)","Reno, NV\r(30.177159, -95.162771)",0.190657,"[(43.597772, -83.884521)]","[(30.177159, -95.162771)]","Boise, ID,Reno, NV"
13413,1996,3,30713,32211,"Boise, ID","Las Vegas, NV",520,156,63.22,WN,...,WN,0.82,$57.47,1,"Boise, ID\r(43.597772, -83.884521)","Las Vegas, NV\r(36.169202, -115.140597)",0.121577,"[(43.597772, -83.884521)]","[(36.169202, -115.140597)]","Boise, ID,Las Vegas, NV"
6191,1998,2,30713,34570,"Boise, ID","Reno, NV",335,159,62.80,WN,...,WN,0.98,$61.17,1,"Boise, ID\r(43.597772, -83.884521)","Reno, NV\r(30.177159, -95.162771)",0.187463,"[(43.597772, -83.884521)]","[(30.177159, -95.162771)]","Boise, ID,Reno, NV"
12427,1996,2,34570,31884,"Reno, NV","Spokane, WA",572,189,62.77,WN,...,WN,0.87,$58.86,1,"Reno, NV\r(30.177159, -95.162771)","Spokane, WA\r(47.658999, -117.425022)",0.109738,"[(30.177159, -95.162771)]","[(47.658999, -117.425022)]","Reno, NV,Spokane, WA"
32233,1996,2,30713,32211,"Boise, ID","Las Vegas, NV",520,186,62.47,WN,...,WN,0.82,$57.50,1,"Boise, ID\r(43.597772, -83.884521)","Las Vegas, NV\r(36.169202, -115.140597)",0.120135,"[(43.597772, -83.884521)]","[(36.169202, -115.140597)]","Boise, ID,Las Vegas, NV"
31077,1996,3,30140,30615,"Albuquerque, NM","El Paso, TX",223,239,62.36,WN,...,WN,0.84,$61.99,1,"Albuquerque, NM\r(35.084248, -106.649241)","El Paso, TX\r(31.76006, -106.492257)",0.279641,"[(35.084248, -106.649241)]","[(31.76006, -106.492257)]","Albuquerque, NM,El Paso, TX"
1485,1996,1,30189,33851,"Colorado Springs, CO","Oklahoma City, OK",458,261,61.98,W7,...,W7,0.94,$56.54,1,"Colorado Springs, CO\r(38.835224, -104.819798)","Oklahoma City, OK\r(35.468494, -97.521264)",0.135328,"[(38.835224, -104.819798)]","[(35.468494, -97.521264)]","Colorado Springs, CO,Oklahoma City, OK"
71554,1996,3,34570,31884,"Reno, NV","Spokane, WA",572,191,61.40,WN,...,WN,0.87,$57.25,1,"Reno, NV\r(30.177159, -95.162771)","Spokane, WA\r(47.658999, -117.425022)",0.107343,"[(30.177159, -95.162771)]","[(47.658999, -117.425022)]","Reno, NV,Spokane, WA"
74323,1996,2,30140,30615,"Albuquerque, NM","El Paso, TX",223,245,60.37,WN,...,F9,0.05,$59.53,1,"Albuquerque, NM\r(35.084248, -106.649241)","El Paso, TX\r(31.76006, -106.492257)",0.270717,"[(35.084248, -106.649241)]","[(31.76006, -106.492257)]","Albuquerque, NM,El Paso, TX"
26103,1997,4,30158,31295,"Atlantic City, NJ","Detroit, MI",497,166,58.06,NK,...,NK,0.97,$55.26,1,"Atlantic City, NJ\r(33.748547, -84.391502)","Detroit, MI\r(42.332916, -83.047853)",0.116821,"[(33.748547, -84.391502)]","[(42.332916, -83.047853)]","Atlantic City, NJ,Detroit, MI"
6376,1997,4,30158,30647,"Atlantic City, NJ","Cleveland, OH (Metropolitan Area)",406,168,56.49,NK,...,NK,0.95,$54.18,1,"Atlantic City, NJ\r(33.748547, -84.391502)","Cleveland, OH (Metropolitan Area)\r(41.505546,...",0.139138,"[(33.748547, -84.391502)]","[(41.505546, -81.6915)]","Atlantic City, NJ,Cleveland, OH (Metropolitan ..."
40757,1996,2,31638,32211,"Fresno, CA","Las Vegas, NV",258,154,56.42,A7,...,A7,0.92,$51.95,1,"Fresno, CA\r(36.731654, -119.785856)","Las Vegas, NV\r(36.169202, -115.140597)",0.218682,"[(36.731654, -119.785856)]","[(36.169202, -115.140597)]","Fresno, CA,Las Vegas, NV"

In [35]:
# Create a new key that we can use to merge different years for comparison
airfare_raw['key'] = airfare_raw['city1'] + ',' + airfare_raw['city2']

In [36]:
# Now let's narrow it down to 2017
airfare2017 = airfare_raw[airfare_raw['Year'] == 2017]

In [37]:
# And down to the second quarter
airfare2017_q2 = airfare2017[airfare2017['quarter'] == 2]

In [38]:
# Now let's grab the data from the same period in 2016 to compare changes in fares
airfare2016 = airfare_raw[airfare_raw['Year'] == 2016]
airfare2016_q2 = airfare2017[airfare2017['quarter'] == 2]

In [40]:
merged = pd.merge(airfare2017_q2, airfare2016_q2, on='key')

In [44]:
len(airfare2017_q2)

1000

In [45]:
len(airfare2016_q2)

1000

In [46]:
len(airfare2017_q2) - len(merged)

0

In [70]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 43 columns):
Year_x              1000 non-null int64
quarter_x           1000 non-null int64
citymarketid_1_x    1000 non-null int64
citymarketid_2_x    1000 non-null int64
city1_x             1000 non-null object
city2_x             1000 non-null object
nsmiles_x           1000 non-null int64
passengers_x        1000 non-null int64
fare_x              1000 non-null float64
carrier_lg_x        1000 non-null object
large_ms_x          1000 non-null float64
fare_lg_x           1000 non-null object
carrier_low_x       1000 non-null object
lf_ms_x             1000 non-null float64
fare_low_x          1000 non-null object
table_1_flag_x      1000 non-null int64
Geocoded_City1_x    1000 non-null object
Geocoded_City2_x    1000 non-null object
cost_per_mile_x     1000 non-null float64
geo1_x              1000 non-null object
geo2_x              1000 non-null object
key                 1000 non-null object
Year_y              1000 non-null int64
quarter_y           1000 non-null int64
citymarketid_1_y    1000 non-null int64
citymarketid_2_y    1000 non-null int64
city1_y             1000 non-null object
city2_y             1000 non-null object
nsmiles_y           1000 non-null int64
passengers_y        1000 non-null int64
fare_y              1000 non-null float64
carrier_lg_y        1000 non-null object
large_ms_y          1000 non-null float64
fare_lg_y           1000 non-null object
carrier_low_y       1000 non-null object
lf_ms_y             1000 non-null float64
fare_low_y          1000 non-null object
table_1_flag_y      1000 non-null int64
Geocoded_City1_y    1000 non-null object
Geocoded_City2_y    1000 non-null object
cost_per_mile_y     1000 non-null float64
geo1_y              1000 non-null object
geo2_y              1000 non-null object
dtypes: float64(8), int64(14), object(21)
memory usage: 343.8+ KB

In [71]:
new_merged = merged.loc[:, ['city1_x', 'city2_x', 'nsmiles_x', 'fare_x', 'fare_low_x', 
                            'cost_per_mile_x' , 'nsmiles_y', 'fare_y', 'fare_low_y', 'cost_per_mile_y']]

In [72]:
new_merged

,city1_x,city2_x,nsmiles_x,fare_x,fare_low_x,cost_per_mile_x,nsmiles_y,fare_y,fare_low_y,cost_per_mile_y
0,"Boise, ID","Seattle, WA",399,130.78,$124.01,0.327769,399,130.78,$124.01,0.327769
1,"Denver, CO","Minneapolis/St. Paul, MN",680,137.97,$79.14,0.202897,680,137.97,$79.14,0.202897
2,"Louisville, KY","Tampa, FL (Metropolitan Area)",729,186.62,$184.85,0.255995,729,186.62,$184.85,0.255995
3,"San Antonio, TX","Seattle, WA",1774,237.28,$226.43,0.133754,1774,237.28,$226.43,0.133754
4,"Portland, ME","Washington, DC (Metropolitan Area)",493,188.65,$184.06,0.382657,493,188.65,$184.06,0.382657
5,"Panama City, FL","Washington, DC (Metropolitan Area)",798,230.20,$197.19,0.288471,798,230.20,$197.19,0.288471
6,"Charlotte, NC","Cincinnati, OH",335,223.26,$204.72,0.666448,335,223.26,$204.72,0.666448
7,"Chicago, IL","San Diego, CA",1728,215.21,$103.83,0.124543,1728,215.21,$103.83,0.124543
8,"Orlando, FL","Philadelphia, PA",861,160.11,$104.89,0.185958,861,160.11,$104.89,0.185958
9,"New Orleans, LA","San Antonio, TX",494,209.51,$202.48,0.424109,494,209.51,$202.48,0.424109
10,"Albuquerque, NM","Denver, CO",349,188.82,$183.89,0.541032,349,188.82,$183.89,0.541032
11,"Cincinnati, OH","Las Vegas, NV",1678,147.95,$99.80,0.088170,1678,147.95,$99.80,0.088170
12,"Denver, CO","Milwaukee, WI",896,153.02,$90.32,0.170781,896,153.02,$90.32,0.170781
13,"Philadelphia, PA","Pittsburgh, PA",268,307.55,$308.34,1.147575,268,307.55,$308.34,1.147575
14,"New York City, NY (Metropolitan Area)","Palm Springs, CA",2413,353.16,$262.38,0.146357,2413,353.16,$262.38,0.146357
15,"Detroit, MI","Las Vegas, NV",1749,215.13,$126.75,0.123002,1749,215.13,$126.75,0.123002
16,"Amarillo, TX","Dallas/Fort Worth, TX",323,189.88,$178.96,0.587864,323,189.88,$178.96,0.587864
17,"Las Vegas, NV","St. Louis, MO",1371,185.52,$97.28,0.135317,1371,185.52,$97.28,0.135317
18,"Austin, TX","Dallas/Fort Worth, TX",190,185.97,$184.64,0.978789,190,185.97,$184.64,0.978789
19,"Austin, TX","Pittsburgh, PA",1210,212.54,$77.61,0.175653,1210,212.54,$77.61,0.175653
20,"Chicago, IL","Fort Myers, FL",1120,177.88,$100.12,0.158821,1120,177.88,$100.12,0.158821
21,"Hartford, CT","Minneapolis/St. Paul, MN",1050,286.01,$221.43,0.272390,1050,286.01,$221.43,0.272390
22,"Boise, ID","Salt Lake City, UT",290,204.33,$141.05,0.704586,290,204.33,$141.05,0.704586
23,"Albuquerque, NM","Portland, OR",1111,243.39,$233.21,0.219073,1111,243.39,$233.21,0.219073
24,"Miami, FL (Metropolitan Area)","Minneapolis/St. Paul, MN",1501,205.17,$213.22,0.136689,1501,205.17,$213.22,0.136689
25,"Omaha, NE","San Francisco, CA (Metropolitan Area)",1433,244.86,$243.10,0.170872,1433,244.86,$243.10,0.170872
26,"Hartford, CT","Los Angeles, CA (Metropolitan Area)",2527,313.41,$290.01,0.124025,2527,313.41,$290.01,0.124025
27,"Memphis, TN","Philadelphia, PA",875,298.43,$296.22,0.341063,875,298.43,$296.22,0.341063
28,"Chicago, IL","Des Moines, IA",306,266.32,$257.65,0.870327,306,266.32,$257.65,0.870327
29,"El Paso, TX","Las Vegas, NV",583,154.80,$83.94,0.265523,583,154.80,$83.94,0.265523
...,...,...,...,...,...,...,...,...,...,...
970,"Houston, TX","Tampa, FL (Metropolitan Area)",787,189.86,$111.07,0.241245,787,189.86,$111.07,0.241245
971,"Boston, MA (Metropolitan Area)","Louisville, KY",829,277.79,$250.54,0.335090,829,277.79,$250.54,0.335090
972,"New York City, NY (Metropolitan Area)","Tampa, FL (Metropolitan Area)",1055,187.98,$175.00,0.178180,1055,187.98,$175.00,0.178180
973,"Atlanta, GA (Metropolitan Area)","Denver, CO",1199,187.85,$107.28,0.156672,1199,187.85,$107.28,0.156672
974,"Indianapolis, IN","Orlando, FL",829,148.24,$89.83,0.178818,829,148.24,$89.83,0.178818
975,"Boston, MA (Metropolitan Area)","Pittsburgh, PA",496,205.55,$204.61,0.414415,496,205.55,$204.61,0.414415
976,"Philadelphia, PA","San Antonio, TX",1496,238.43,$105.77,0.159378,1496,238.43,$105.77,0.159378
977,"Colorado Springs, CO","Orlando, FL",1520,132.23,$107.20,0.086993,1520,132.23,$107.20,0.086993
978,"Memphis, TN","San Francisco, CA (Metropolitan Area)",1807,312.57,$279.93,0.172977,1807,312.57,$279.93,0.172977
979,"Boston, MA (Metropolitan Area)","Fort Myers, FL",1271,221.88,$232.06,0.174571,1271,221.88,$232.06,0.174571
980,"Atlanta, GA (Metropolitan Area)","Syracuse, NY",794,234.25,$161.26,0.295025,794,234.25,$161.26,0.295025
981,"Las Vegas, NV","Salt Lake City, UT",368,146.84,$144.21,0.399022,368,146.84,$144.21,0.399022
982,"Milwaukee, WI","Seattle, WA",1694,243.85,$234.15,0.143949,1694,243.85,$234.15,0.143949
983,"Memphis, TN","Phoenix, AZ",1264,223.27,$82.89,0.176638,1264,223.27,$82.89,0.176638
984,"Kansas City, MO","St. Louis, MO",237,178.85,$177.86,0.754641,237,178.85,$177.86,0.754641
985,"Corpus Christi, TX","Dallas/Fort Worth, TX",354,217.60,$193.81,0.614689,354,217.60,$193.81,0.614689
986,"Denver, CO","Reno, NV",804,193.86,$186.90,0.241119,804,193.86,$186.90,0.241119
987,"Buffalo, NY","Washington, DC (Metropolitan Area)",296,176.33,$173.19,0.595709,296,176.33,$173.19,0.595709
988,"Dallas/Fort Worth, TX","Orlando, FL",985,181.69,$85.66,0.184457,985,181.69,$85.66,0.184457
989,"Charlotte, NC","St. Louis, MO",575,273.62,$233.78,0.475861,575,273.62,$233.78,0.475861
990,"Birmingham, AL","Washington, DC (Metropolitan Area)",682,238.61,$216.39,0.349868,682,238.61,$216.39,0.349868
991,"Denver, CO","Tucson, AZ",639,201.55,$196.39,0.315415,639,201.55,$196.39,0.315415
992,"Las Vegas, NV","Tulsa, OK",1076,193.88,$93.45,0.180186,1076,193.88,$93.45,0.180186
993,"Denver, CO","St. Louis, MO",770,160.05,$89.25,0.207857,770,160.05,$89.25,0.207857
994,"Des Moines, IA","Los Angeles, CA (Metropolitan Area)",1447,241.57,$109.37,0.166945,1447,241.57,$109.37,0.166945
995,"Minneapolis/St. Paul, MN","San Francisco, CA (Metropolitan Area)",1589,242.53,$185.98,0.152631,1589,242.53,$185.98,0.152631
996,"Boise, ID","San Diego, CA",749,150.77,$136.50,0.201295,749,150.77,$136.50,0.201295
997,"Los Angeles, CA (Metropolitan Area)","Washington, DC (Metropolitan Area)",2329,293.76,$269.71,0.126131,2329,293.76,$269.71,0.126131
998,"Houston, TX","Seattle, WA",1894,231.54,$203.20,0.122249,1894,231.54,$203.20,0.122249
999,"New York City, NY (Metropolitan Area)","Tucson, AZ",2173,288.20,$247.09,0.132628,2173,288.20,$247.09,0.132628